[Unit]
Description=Lock the screen with i3lock
Before=sleep.target

[Service]
User=<username>
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -i <image path>

[Install]
WantedBy=suspend.target
